.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    padding-top: 2rem;
    padding-bottom: 2rem;
}

.contacto__titulo {
    color: var(--fuente-ceniza-oscuro);
    font-weight: 700;
    font-size: 1.5rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 1.25rem;
}

.contacto__boton {
    font-family: var(--source-sans-pro);
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--boton-contacto-rojo);
    border-color: var(--boton-contacto-rojo);
    width: 100%;

}

.contacto__p {
    font-family: var(--source-sans-pro);
    font-size: 1rem;
    font-weight: 400;
    color: black;
    margin-bottom: 2rem;
}