.head {
  align-items: center;
  background-color: var(--background-negro);
  border-bottom: 1px solid var(--border-bottom);
  box-sizing: border-box;
  color: var(--menu-a);
  display: flex;
  flex-direction: column;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  position: absolute;
  width: 100%;
}

.head__logo {
  margin-bottom: 1rem;
}

.head__navegacion {
  text-align: center;
}

.head__enlace {
  display: inline-block;
  font-size: 1.1rem;
  margin-bottom: 0.7rem;
  margin-left: 0.7rem;
  margin-right: 0.7rem;
}

@media screen and (min-width: 1024px) {
  .head {
      flex-direction: row;
      justify-content: space-between;
      border: none;
  }
}