.llamada {
  align-items: center;
  background-color: black;
  color: var(--texto-llamada);
  display: flex;
  flex-direction: column;
  padding-bottom: 2.5rem;
  padding-top: 12.25rem;
  text-align: center;
}

.llamada__titulo {
  font-family: var(--montserrat);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.llamada__texto {
  font-size: 1.25rem;
  line-height: normal;
  margin: 0 auto 2.5rem;
}

.llamada__boton {
  width: 100%;
  font-family: var(--source-sans-pro);
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .llamada__texto {
    max-width: 400px;
  }
}

@media screen and (min-width: 1024px) {
  .llamada {
      background-image: url(../img/bg-intro.jpg);
      background-size: cover;

      padding-top: 8.25rem;
  }

  .llamada__titulo {
      font-size: 3.25rem;
      margin-bottom: 2rem;
  }
}